*{
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo-alura{
       margin-left: 10px;
       padding-top: 10px;
       width: 2%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-no-encrypt{
    border: none;
    color: #0A3871;
    margin-top: 90px;
    resize: none;    
}

.notice{
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    width: 230px;
    color: #495057;
    margin-left: 36px;
    margin-bottom: 4px;
}

.notice::before{
    position: absolute;
    content: '';
    background-image: url('./images/aviso.svg');
    width: 16px;
    height: 16px;
    top: 1px;
    left: -24px;
}

::placeholder{color: #0A3871;}
    .text-no-encrypt:focus{
        outline: none;
    }

.text-encrypt{
    background: #FFFFFF;
    background-image: url('./images/box-design.svg');
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    resize: none;
}

.text-encrypt:focus{
    outline: none;
}

.buttons{
    display: flex;
    margin-top: 18px;
}

.btn-encrypt{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    font-size: 16px;
    border-radius: 24px;
    color: #FFFFFF;
    cursor: pointer;
    height: 67px;
    width: 280px;
}

.btn-decrypt{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    font-size: 16px;
    font-weight: 400;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 67px;
    width: 280px;
}

.btn-copy{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;    
    margin-left: 120px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
}
